{% extends "base.html" %}

    {% block tittle %} Carrito de compra {% endblock %}


    {% block content %}

    <div>
            
        <h1 class="text-center">Mi carrito</h1> <br>
        
        <table class="table table-hover table-bordered">
            <tr>
                <th>SKU</th>
                <th>Foto</th>                
                <th>Nombre</th>                
                <th>Marca</th>
                <th>Cantidad</th>
                <th>Precio unitario</th>
                <th>subtotal</th>
                <th>Sumar/Restar</th>
                <th>Eliminar</th>
                
            </tr>
            {% if request.session.carro.items %}
                {% for key, value in request.session.carro.items %}
            <tr>
                <td>{{value.sku}} </td>
                <td><img src="{{value.foto|slice:'1:'}}" alt="{{ value.nombre }}" width="100" height="100"> </td>
                <td>{{value.nombre}} </td>
                <td>{{value.marca}} </td>
                <td>{{value.cantidad}} </td>
                <td>{{value.precio}} </td>
                <td>{{value.subtotal}}</td>
                <td>
                    <a class="btn btn-primary" href="{% url 'carro:sumar' pk=value.sku %}">+</a>
                    <a class="btn btn-primary" href="{% url 'carro:restar' pk=value.sku %}">-</a>
                </td>
                <td><a href="{% url 'carro:eliminar' pk=value.sku %}">Quitar articulos</a></td>
                
            </tr>
            {% endfor %}
            <p>Precio final: {{importe_total_carro}}</p>

            {%else%}
            <div class="alert alert-warning" role="alert">
                No has agregado articulos a tu carrito :p
            </div>

            {% endif %}
        </table>            
        <div>
            <a class="btn btn-primary" href="{% url 'pedidos:mandar'%}">Pagar</a>
            <br>
            <a href="{% url 'index'%}">Volver tienda</a>
            

        </div>
    </div>
    {%endblock%}
