{% extends "base.html" %}

    {% block tittle %} Producto {{producto.nombre}} {% endblock %}


    {% block content %}

        <div class="#">
            <!--Contenido-->
            <div class="card mb-3">
                
                
                    
                <div class="container text-center">
                    <div class="row">
                        <div class="col">
                            <img src="../media/{{producto.foto}}" alt="{{ producto.nombre }}" width="300" height="300">
                        </div>
                        <div class="col p-3">
                            <h5 class="card-title p-2">{{ producto.nombre }}</h5>
                            <h6 class="card-title p-2">Marca: {{ producto.marca }}</h6>
                            <p class="card-text p-2">Precio: ${{ producto.precio }}</p>
                            <p class="card-text p-2">stock: {{ producto.cantidad }} unidades</p>
                            <form method="POST" action="{%url 'carro:agregar' pk=producto.sku %}">
                                {% csrf_token %}
                                <input type="number" name="cantidad_p" value="1" class="p-2" style= "width : 50px" max="{{producto.cantidad}}" min="0">
                                <button type="submit">Agregar al carrito</button>
                            </form>
                            
                        </div>
                        <div class="col p-4">
                            <br>
                            <a href="{%url 'carro'%}" class="btn btn-primary m-4 p-5">Ir al Carro</a>
                        </div>
                    </div>                            
                </div>
                <div>
                    <p class="text-xl-start p-5">descripción: {{ producto.descripcion }}</p>
                    <p class="text-xl-start p-5">detalles: {{ producto.detalles }}</p>
                </div>        
                        
                        
                        
                        
                    
                
            </div>
                
            
        </div>
    
    {%endblock%}
