<html>
    <body>

        <div class="container">
            <h1>Lista de Productos</h1>
    
            <div class="row">
                
                <!-- Inicia el bucle for para mostrar los productos -->
                {% for producto in productos %}
                    <div class="col-md-4">
                        <div class="card mb-3">
                            <div class="card-body">
                                <img src="media/{{producto.foto}}" alt="{{ producto.nombre }}" width="100" height="100">
                                <h5 class="card-title">{{ producto.nombre }}</h5>
                                <p class="card-text">{{ producto.descripcion }}</p>
                                <p class="card-text">Precio: ${{ producto.precio }}</p>
                                <a href="{%url 'detalles' pk=producto.sku %}" class="btn btn-primary">Ver más</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                <!-- Finaliza el bucle for -->
            </div>
    
        </div>

    </body>
</html>