{% extends "base.html" %}

    {% block tittle %} Quienes Somos Mode {% endblock %}


    {% block content %}

        <div class="p-3">
            <!--Contenido-->
            <h3>Quienes somos</h3>
            <div class="container">
                <div class="card mx-auto" style="width: 20rem;">
                    <img src="media/quien.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                    <p class="card-text">Hola soy Giorgio, he desarrollado esta web para mi proyecto de backend</p>
                    </div>
                </div>
            </div>

            <br>
                
                
        </div>
    
    {%endblock%}
